@{
    ViewData["Title"] = "Home Index";
}
@model List<ArticleViewModel>

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    
<div class="site-section bg-light">
    <div class="container">
        <div class="row align-items-stretch retro-layout-2">
            <div class="col-md-4">
                <a href="@Url.Action("SingleChatGpt", "Home")" class="h-entry mb-30 v-height gradient" style="background-image: url('images/chatgpt.jpg');">

                    <div class="text">
                        <h2>Chatgpt, o nouă eră a conversații interactive</h2>
                        <span class="date">20 Martie, 2024</span>
                    </div>
                </a>
                <a href="single.html" class="h-entry v-height gradient" style="background-image: url('images/palarii.jpg');">

                    <div class="text">
                        <h2>Parada pălăriilor</h2>
                        <span class="date">Martie 19, 2024</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="single.html" class="h-entry img-5 h-100 gradient" style="background-image: url('images/lalele.jpg');">

                    <div class="text">
                        <div class="post-categories mb-3">
                            <span class="post-category bg-danger">Divertisment</span>
                            <span class="post-category bg-primary">Turism</span>
                        </div>
                        <h2>Festival dedicat lalelelor</h2>
                        <span class="date">Martie 5, 2024</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="single.html" class="h-entry mb-30 v-height gradient" style="background-image: url('images/floareasoarelui.jpg');">

                    <div class="text">
                        <h2>S.A. Floarea-Soarelui promite</h2>
                        <span class="date">Martie 19, 2024</span>
                    </div>
                </a>
                <a href="single.html" class="h-entry v-height gradient" style="background-image: url('images/pompieri.jpg');">

                    <div class="text">
                        <h2>Mai mulți angajați ai IGSU decorați</h2>
                        <span class="date">Martie 18, 2024</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Postări recente</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="single.html"><img src="images/chatgpt.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-secondary mb-3">Tehnologii</span>

                        <h2><a href="single.html">Chatgpt, o nouă eră a conversații interactive</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <span>Martie 20, 2024</span>
                        </div>

                        <p>Un chatbot este o aplicație software concepută pentru a reproduce o conversație asemănătoare cu cea a oamenilor, pe baza solicitărilor utilizatorului.sE estimează că chatgpt a ajuns la 100 de milioane de utilizatori activi lunar în ianuarie, la doar două luni de la lansare, devenind astfel aplicația cu cea mai rapidă creștere din istorie, potrivit unui studiu citat de reuters.</p>
                        <p><a href="#">Citește mai mult</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="single.html"><img src="images/palarii.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-success mb-3">Divertisment</span>

                        <h2><a href="single.html">Parada pălăriilor</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <span>Martie 19, 2024</span>
                        </div>

                        <p>Parada celor mai trăsnite pălării a avut loc la Barcelona - aparate foto de epocă, cutii cu popcorn sau dinozauri în miniatură.</p>
                        <p><a href="#">Citește mai mult</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="single.html"><img src="images/ue.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-warning mb-3">Politică</span>

                        <h2><a href="single.html">Aderarea R. Moldova la UE, o necesitate</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <span>Martie 17, 2024</span>
                        </div>

                        <p>Adeziunea R. Moldova la UE este o necesitate geopolitică, așa că UE și, mai ales, Germania dă sprijin economic și politic autorităților de la Chișinău pentru că acestea să poată înfrunta războiului hibrid lansat de Rusia.</p>
                        <p><a href="#">Citește mai mult</a></p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="single.html"><img src="images/floareasoarelui.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-secondary mb-3">Politica</span>

                        <h2><a href="single.html">S.A. Floarea-Soarelui promite</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <span>Martie, 2024</span>
                        </div>

                        <p>Al doilea tur de negocieri între producătorii și procesatorii de semințe de floarea-soarelui a avut loc ieri, 8 aprilie, la Ministerul Agriculturii și Industriei Alimentare.</p>
                        <p><a href="#">Citește mai mult</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="single.html"><img src="images/lalele.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-success mb-3">Natură</span>

                        <h2><a href="single.html">Festival dedicat lalelelor</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <span>17 Martie, 2024</span>
                        </div>

                        <p>Milioane de lalele colorează, în aceste zile, Istanbulul, la festivalul anual dedicat frumoaselor flori.</p>
                        <p><a href="#">Citește mai mult</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="single.html"><img src="images/politica.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-danger mb-3">Politică</span>

                        <h2><a href="single.html">Moldovagaz </a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <span>Martie 5, 2024</span>
                        </div>

                        <p>Despre acest lucru a anunțat Alexandru Slusari, care a menționat în cadrul unei emisiuni televizate că de la 1 mai, Moldovagaz nu va mai fi obligată să procure gaz de la Energocom, iar câștigarea licitației de vânzare a gazului la prețul de 6,80 de lei Fabricii de sticlă din Chișinău, se explică prin faptul că la ultima licitație Energocom a procurat gaz la un preț mult mai mic decât cel oferit de Gazprom, de până la 300 de dolari</p>
                        <p><a href="#">Citește mai mult</a></p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="single.html"><img src="images/pompieri.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-success mb-3">Social</span>

                        <h2><a href="single.html">Mai mulți angajați ai IGSU au fost decorați</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <span>Martie 18, 2024</span>
                        </div>

                        <p>Medalii au fost oferite ofițerilor pentru îndeplinirea ireproșabilă a datoriei de serviciu, precum și pentru profesionalism și spiritul de sacrificiu manifestate în circumstanțe excepționale.</p>
                        <p><a href="#">Citește mai mult</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="single.html"><img src="images/bac.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-danger mb-3">Educație</span>

                        <h2><a href="single.html">BAC: Elevii au lansat o petiție</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <span>Aprilie 5, 2024</span>
                        </div>
                        <p>Elevii au lansat o petiție referitoare la BAC, cer simplificarea testelor sau chiar anularea sesiunii.</p>
                        <p><a href="#">Citește mai mult</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="single.html"><img src="images/ciclism.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-danger mb-3">Sport</span>
                        <span class="post-category text-white bg-warning mb-3">Lifestyle</span>

                        <h2><a href="single.html">Velohora - o sărbătoare a ciclismului</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <span>Aprilie 1, 2024</span>
                        </div>

                        <p>Dar o zi atât de specială înseamnă mai mult decât o simplă plimbare cu bicicleta. Este o ocazie de a ne uni comunitatea, de a promova.</p>
                        <p><a href="#">Citește mai mult</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center pt-5 border-top">
            <div class="col-md-12">
                <div class="custom-pagination">
                    <span>1</span>
                    <a href="#">2</a>
                </div>
            </div>
        </div>
    </div>
</div>

