<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-12 search-form-wrap js-search-form">
            <form method="get" action="#">
                <input type="text" id="s" class="form-control" placeholder="Search...">
                <button class="search-btn" type="submit"><span class="icon-search"></span></button>
            </form>
        </div>
        <div class="col-3 site-logo">
            <a href="index.html" class="text-black h2 mb-0">Mini Blog</a>
        </div>
        <div class="col-6 text-right">
            <nav class="site-navigation" role="navigation" style="margin: 0 auto;">
                <ul class="site-menu js-clone-nav mr-auto d-none mb-0 p-0 d-lg-flex justify-content-center" style="row-gap: 20px;flex-wrap: wrap;">
                    <li><a href="category.html">Home</a></li>
                    <li><a href="category.html">Politics</a></li>
                    <li><a href="category.html">Tech</a></li>
                    <li><a href="category.html">Entertainment</a></li>
                    <li><a href="category.html">Travel</a></li>
                    <li><a href="category.html">Sports</a></li>
                </ul>
            </nav>
            <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a>
        </div>
        <div class="col-3">
            <nav class="site-navigation" role="navigation" style="
            margin: 0 auto;
            ">
                <ul class="site-menu js-clone-nav mr-auto d-none d-lg-flex mb-0 p-0 justify-content-end">
                    <li><a href="category.html">Login</a></li>
                    <li><a href="category.html">Sign Up</a></li>
                    <li class="d-none d-lg-inline-block"><a href="#" class="js-search-toggle"><span class="icon-search"></span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>